<% if (title) { %>
    <h1 id="login-title"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<div id="account-display">
  <h2>You are logged in</h2>
  <% const account_type = locals.accountData.account_type; %>
  <% if (account_type === 'Client') { %>
      <h2>Welcome, <%= locals.accountData.account_firstname %>!</h2>
      <a href="#">Edit account info</a>
  <% } else if (account_type === 'Admin' || account_type === 'Employee') { %>
      <h2>Welcome, <%= locals.accountData.account_firstname %>!</h2>
      <a href="/inv">Inventory Management</a>
      <a href="#">Edit account info</a>
  <% } %>
</div>