<% if (title) { %>
    <h1 id="update-title"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<div id="update-display">
  <form action="/account/register" method="post">
    <fieldset>
        <legend>Basic information</legend>
        <label class="update-label">First name
        <input type="text" name="account_firstname" required value="<%= locals.accountData.account_firstname %>">
        </label>
        
        <label class="update-label">Last name
        <input type="text" name="account_lastname" required value="<%= locals.accountData.account_lastname %>">
        </label>

        <label class="update-label">Email  
        <input type="email" name="account_email" placeholder="email@example.com" required value="<%= locals.accountData.account_email %>">
        </label>

        <input type="hidden" name="account_id"
        <% if(locals.account_id) { %> value="<%= locals.account_id %>"
        <% } %>>
        <button type="submit">Update information</button>
    </fieldset>
  </form>

  <form action="#">
    <fieldset>
        <legend>Password</legend>
        <label class="update-label">Password
        <a href="#" id="password-advice" title="This action will change your password. Password must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character">?</a> 
        <input type="password" name="account_password" id="register-password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
        </label>
        <span id="show-password">Show password</span>
        <button type="submit">Update password</button>
        <% if(locals.account_id) { %> value="<%= locals.account_id %>"
        <% } %>>
    </fieldset>
  </form>
</div>
<script src='/js/script.js'></script>